<div>
  <img [src]="recipe.imagePath" alt=" {{ recipe.name }}" />
</div>

<div>
  <h1>{{ recipe.name }}</h1>
</div>

<div appDropdown>
  <button>Manage Recipe <span></span></button>
  <ul>
    <li><a href="#" (click)="onAddToShoppingList()">To Shopping List</a></li>
    <li><a href="#">Edit Recipe</a></li>
    <li><a href="#">Delete Recipe</a></li>
  </ul>
</div>
<div>{{ recipe.description }}</div>
<div>
  <ul>
    <li *ngFor="let ingredient of recipe.ingredients">
      {{ ingredient.name }} - {{ ingredient.amount }}
    </li>
  </ul>
</div>
